@charset "utf-8";
.index-wrap {
	width: 100%;
	padding-bottom: 3.6rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #f8f8f8;
}
.index-wrap h1 {
	width: 100%;
	height: 2.67rem;
	text-align: center;
	line-height: 2.67rem;
	font-size: 1.19rem;
	color: #272727;
	font-weight: bold;
	background: white;
}
.index-top {
	width: 100%;
	margin-bottom: 1px;
	background: white;
}
.index-wrap .fixed {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
}
.index-top a {
	float: left;
	width: 33.3%;
	height: 2.83rem;
	text-align: center;
	line-height: 2.83rem;
	color: #999;
	font-weight: bold;
	font-size: 0.96rem;
}
.index-top .indextop-select {
	color: #272727;
	border-bottom: 2px solid #b39851;
}
.swiper-container {
    width: 100%;
} 
.swiper-slide img {
	display: block;
	width: 100%;
}
.swiper-container .swiper-pagination-bullet {
	background: white;
	opacity: 1;
}
.swiper-container .swiper-pagination-bullet-active{
	background: #b39851;
	opacity: 1;
}
.container-time {
	padding: 1.42rem 1.17rem .5rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #e4e4e4;
	background: #f8f8f8;
}
.container-time var, .container-time span {
	display: block;
	width: 100%;
	text-align: right;
}
.container-time var {
	font-size: 0.96rem;
	color: #272727;
}
.container-time span {
	font-size: 0.67rem;
	color: #bebebe;
}
.content {
	margin-bottom: 1rem;
}
.content-top {
	padding: 0.79rem 5%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.content-top {
	background: white;
}
.content-top dt, .content-top dd {
	float: left;
}
.content-top dt {
	overflow: hidden;
	width: 2.63rem;
	height: 2.63rem;
	margin-right: 3%;
	border-radius: 50%;
	border: 1px solid #9d9d9c;
}
.content-top dt img {
	border-radius: 50%;
}
.content-top dd {
	width: 84%;
	padding: .2rem 0 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.content-top dd h2,
.content-con h2 {
	font-size: 0.96rem;
	font-weight: bold;
	color: #272727;
}
.content-con h2 {
	overflow: hidden;
	width: 100%;
	height: 2.58rem;
	padding: 0 3%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 2.58rem;
	background: white;
}
.content-top dd p {
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	color: #bebebe;
	font-size: 0.85rem;
	text-overflow: ellipsis;
	word-break:break-all;
	word-wrap:break-word;
}
.con-pic {
	position: relative;
}
.sharecollection {
	z-index: 99;
	position: absolute;
	bottom: 0;
	right: 4%;
	width: 7%;
	height: 5.42rem;
}
.sharecollection a {
	display: block;
	width: 1.92rem;
	height: 1.92rem;
	background: url(../images/share.png) center center no-repeat;
	background-size: 100% auto;
}
.sharecollection span {
	display: block;
	width: 1.92rem;
	height: 1.92rem;
	background: url(../images/share.png) center center no-repeat;
	background-size: 100% auto;
}
.comment {
	padding: 0 4%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: white;
}
.label {
	overflow: hidden;
	width: 100%;
	height: 2.33rem;
}
.label a {
	float: left;
	margin-right: 2%;
	padding: 0.42rem 2%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	color: #bebebe;
	background: white;
	font-size: 0.74rem;
	letter-spacing: 1px;
}
.label .index-yellow {
	border: 1px solid #b39851;
	background: #b39851;
	color: white;
}
.hot {
	width: 100%;
	color: #bebebe;
	font-size: 0.85rem;
	line-height: 2.17rem;
}
.comment-con {
	padding: 0.5rem 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}
.comment-con p {
	width: 100%;
	overflow: hidden;
	/*white-space: nowrap;*/
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: #666;
	font-size: 0.85rem;
	line-height: 1.5rem;
}
.comment-con strong {
	color: #b39851;
	font-size: 0.85rem;
}
.content-bottom {
	width: 100%;
	padding: 0.83rem 0;	
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	background: white;
}
.content-bottom span {
	float: left;
	width: 20%;
	padding: 0 0 0 5%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0.85rem;
}
.zan {
	border-right: 1px solid #e8e8e8;
}
.zan span, .say span {
	float: left;
	width: 1.07rem;
	height: 1.27rem;
	margin-right: .3rem;
}
.zan span {
	background: url(../images/love1.png) center center no-repeat;
	background-size: 96% auto;
}
.zan .love2 {
	background: url(../images/love2.png) center center no-repeat;
	background-size: 96% auto;
}
.zan var, .say var {
	float: left;
	/*width: 20%;*/
	line-height: 1.27rem;
	color: #666;
	font-size: 0.85rem;
}
.say span {
	background: url(../images/say1.png) center center no-repeat;
	background-size: 100% auto;
}
.content-bottom .collection {
	float: right;
	width: 20%;
	padding-right: 5%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #666;
	font-size: 0.85rem;
	text-align: right;
}
.hot-con a {
	position: relative;
}
.hot-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5.25rem;
}

